.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.logo {
  width: 200px;
  height: 70px;
}
.animatedText {
  display: inline-block;
  overflow: hidden; /* Cache le texte qui n'est pas encore affiché */
  white-space: nowrap; /* Empêche le texte de passer à la ligne */
  border-right: 2px solid #000; /* Ajoute un curseur clignotant */
  font-size: 1.2rem;
  animation: typing 2s steps(15, end), blink 0.5s step-end infinite;
}

/* Animation pour afficher le texte lettre par lettre */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* Animation pour le curseur clignotant */
@keyframes blink {
  from {
    border-color: transparent;
  }
  to {
    border-color: black;
  }
}
