.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-sizing: border-box;

  .logo {
    width: 200px;
    height: auto;
    @media (max-width: 768px) {
      width: 150px;
    }
  }

  .headerActions {
    display: flex;
    align-items: center;
    gap: 20px;

    @media (max-width: 768px) {
      gap: 10px;
    }
  }

  .calendlyButton {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px 20px;
    background-color: #d2b48c;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;

    &:hover {
      background-color: #c19a6b;
      transform: scale(1.05);
    }

    .calendarIcon {
      font-size: 1.2rem;
    }

    span {
      @media (max-width: 768px) {
        display: none;
      }
    }

    @media (max-width: 768px) {
      padding: 10px;
    }
  }

  .menuToggle {
    display: flex;
    align-items: center;

    .animatedText {
      display: inline-block;
      overflow: hidden;
      white-space: nowrap;
      color: brown;
      font-size: 1.2rem;
      font-weight: bold;
      animation: typing 2s steps(15, end), blink 1.5s step-end infinite;
      animation-delay: 0s, 2s;

      @media (max-width: 768px) {
        display: none;
      }
    }

    .hamburgerIcon {
      display: none;
      font-size: 1.5rem;
      color: #333;
      margin-left: 10px;

      @media (max-width: 768px) {
        display: inline-block;
      }
    }
  }
  &.centeredLogo {
    justify-content: center;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
