@use '../../styles/variables' as *;

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  animation: fadeIn 2s ease-in-out;
  height: 89vh;
  h1 {
    color: $primary-blue;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 20px;
    @media (max-width: 768px) {
      font-size: 2rem;
      text-align: center;
    }
  }
}
.logo {
  width: 250px;
  height: auto;
  margin-bottom: 20px;
}
