.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
  background-color: black;
  box-sizing: border-box;

  @media (max-width: 768px) {
    width: 100%;
    margin: 0;
  }

  p {
    color: white;
    margin: 0;

    @media (max-width: 768px) {
      padding: 10px;
      font-size: 0.9rem;
      box-sizing: border-box;
    }
  }
}
