.footer {
  display: flex;
  justify-content: center;
  height: 55px;
  border-top: #f8f8f8 1px solid;

  box-sizing: border-box;
  @media (max-width: 768px) {
    width: 100%;
    margin: 0;
  }
  p {
    @media (max-width: 768px) {
      padding-left: 25px;
      padding-top: 10px;
      margin: 0;
    }
  }
}
