:root {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  height: 100%;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  flex-direction: column;
  background: linear-gradient(to bottom, #f1f1f1 0%, #c1cbd5 50%, #8fb3c6 100%);
  background-attachment: fixed;
  margin: 0;
  box-sizing: border-box;
  height: 100%;
  overflow-x: hidden;
}
html {
  height: 100%;
  box-sizing: border-box;
}
