:root {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  height: 100%;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  flex-direction: column;
  background: linear-gradient(45deg, #fff8e1, #fce4b6, #f8d9a7, #f5e6c8);
  background-size: 300% 300%;
  animation: shimmer 2s ease infinite;
  margin: 0;
  box-sizing: border-box;
  height: 100%;
}
html {
  height: 100%;
  box-sizing: border-box;
}
